// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	padding-top: .5em;
}

.main-link {
	width: 29%;
	min-width: 250px;
	background: rgb(200,212,240);
	font-size: 2em;
	margin: .5em;
	float: left;
	text-align: center;
	line-height: 4em;
}

.main-link:hover {
	background: #abc;
	cursor: pointer;
	box-shadow: 0 0 0 5px #000 inset;
	-webkit-box-shadow: 0 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 0 5px #000 inset;
}

.front {
	margin: auto;
	max-width: 90%;
}