// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
	margin-top: .5em auto;
	color: #F4F1E3 !important;
	font-weight: 300;
}

.front h1 {
	margin-bottom: 0;
}

#home-search {
	width: 60%;
	margin: auto;
}

#home-search input[type="text"] {
	width: 90%;
	border-radius: 0;
	height: 40px;
}

#home-search button[type="submit"] {
	height: 40px;
	border-radius: 0;
	background-color: rgba(18, 19, 25, 0.95) !important;
}

.main-link {
	width: 29%;
	min-width: 250px;
	background: #aaddee;
	font-size: 2em;
	margin: .5em;
	float: left;
	text-align: center;
	line-height: 6em;
	-webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
}

.main-link:hover {
	color: #F4F1E3;
	background-color: #1F2F3F;
	cursor: pointer;
/*	box-shadow: 0 0 0 5px #000 inset;
	-webkit-box-shadow: 0 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 0 5px #000 inset;*/
}

.front {
	margin: auto;
	max-width: 90%;
	min-height: 500px;
}