<% @issues.each_with_index do |issue, index| %>
	<a href="/issues/<%= issue.id %>">
		<div class="issue-thumb">
		<div class="issue-info">
			<h2><%= issue.title %></h2>
			<p>
				<div class="bold"> posted by:</div> <%= issue.user_name %>
				<div class="date"><%= issue.created_at.time.to_formatted_s(:long) %></div>
			</p>
		</div>
		</div>
	</a>
<% end %>
