
<h1> Browse Issues </h1>
<div class="pure-g">
    
	 
	<% @issues.each_with_index do |issue, index| %>
		<div class="pure-u-1-3">
		<a href="/issues/<%= issue.id %>">
			<div class="thumb">
			<div class="issue-info">
				<h2><%= issue.title %></h2>
				<p>
					<div class="bold"> posted by:</div> <%= issue.user_name %>
					<div class="date"><%= issue.created_at.time.to_formatted_s(:long) %></div>
				</p>
			</div>
			</div>
		</a>
		</div>
	<% end %>
</div>
