// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.date {
	display: block;
	font-size: .9em;
}

.thumb {
	/*width: 29.3%;*/
	padding: 0% 5% 0% 5%;
	margin: 0% 3% 5% 3%;
	/*float: left;*/
	background: #ddd;
	overflow: hidden;
}

.thumb:hover {
	background: #aabbbb;
}
.thumb a {
	text-decoration: none;
}

.resource-body {
	width: 100%;
	margin: 0 10%;
}

.resource-nav {
	margin: 1em auto;
}

.resource-nav ul {
	padding: 0;
	margin: .5em auto;
}

.resource-nav li {
	list-style: none;
	display: inline-block;
	background: #aaddee;
	padding: .5em;
	margin-right: .5em;
	margin-bottom: .4em;
}

.resource-nav li:hover {
	color: #F4F1E3;
	background-color: #1F2F3F;
}

.check-multiple {
	
	width: 46%;
	float: left;
	margin: 2% 1.5%;
}

.check-multiple-options {
	overflow: auto;
	width: 100%;
	background: #fff;
	border: 2px solid #aaa;
	height: 100px;
}

.check-multiple label {
	display: inline;
}

.check-multiple label:after { 
	content:"\A"; white-space:pre; 
}
