<h1> Welcome to Hack Vault </h1>
<div class="front">
	<%= link_to(categories_path) do %>
	<div class="main-link">Categories</div>
	<% end %>
	<%= link_to(issues_path) do %>
	<div class="main-link">Issues</div>
	<% end %>
	<%= link_to(resources_path) do %>
	<div class="main-link">Resources</div>
	<% end %>
</div>