<h1> Welcome to Hack Vault </h1>
<div class="front">
	<div class="category-link">
		<%= link_to("Categories", categories_path) %>
	</div>
	<div class="category-link">
		<%= link_to("Issues", issues_path) %>
	</div>
	<div class="category-link">
		<%= link_to("Resources", resources_path) %>
	</div>
</div>