// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3 {
	text-align: center !important;
}

.thumb {
	padding: 0% 2% 0% 5%;
	margin: 0% 3% 5% 3%;
	background: #ddd;
	overflow: hidden;
}

.thumb:hover {
	background: #aabbbb;
}
.thumb a {
	text-decoration: none;
}

.category-issue-list,
.category-resource-list {
	float: left;
	width: 47%;
	margin: 1%;
}

.category-resource,
.category-issue {
	background: #63A599;
	width: 100%;
	padding: .5%;
	margin: 1%;
}