<h1>Resources</h1>

<div id="resource-options">
<div id="resource-options-left">
	<div id="resource-a-z" class="resource-filter-active">A-Z</div> | 
	<div id="resource-z-a">Z-A</div>
</div>

<div id="resource-options-right">
	<div id="resource-newest">newest</div> | 
	<div id="resource-oldest">oldest</div>
</div>
</div>

<div id="resource-list">
	<%= render partial: 'resource_list', locals: { resources: @resources} %>
</div>