#category-list {
	height: 500px;
	overflow: auto;
	width: 825px;
	max-width: 100%;
	margin: auto;
}

#category-options {
	display: block;
	overflow: auto;
	width: 800px;
	margin: auto;
	margin-bottom: 5px;
	max-width: 100%;
}

#category-options-left {
	float: left;
	clear: left;
}

#category-options-right {
	float: right;
	clear: right;
}

#category-a-z,
#category-z-a,
#category-oldest,
#category-newest {
	display: inline;
}

.filter-active a{
	color: #26AEDA;
	font-size: 1.5em;
}

.category-thumb {
	padding: 0% 2% 0% 5%;
	margin: 0% 3% 5% 3%;
	background: rgba(244,241,227,1);
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
}

.category-thumb:hover {
	background-color: #18657E;
}
.category-thumb a {
	text-decoration: none;
}

.category-description {
	width: 800px;
	max-width: 100%;
	margin: auto;
	font-size: 1em;
}

.category-issue-list,
.category-resource-list {
	float: left;
	width: 48%;
	margin: 1%;
}

.category-issue-list h2,
.category-resource-list h2 {
 text-align: center;
}

.category-resource,
.category-issue {
	background: rgba(244,241,227,.9);
	padding: 2% 4%;
	margin: 1em auto;
	color: #000;
	-webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
}

.category-resource:hover,
.category-issue:hover {
	background: #18657E;
	color: #F4F1E3;
}

.category-info {
	color: black;
}

.category-info:hover {
	color: #F4F1E3;
}

.category-info h2 {
	margin-bottom: 0em;
}

.category-info p {
	margin: .5em auto 1em auto;
}