// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.thumb {
	/*width: 29.3%;*/
	padding: 0% 2% 0% 5%;
	margin: 0% 3% 5% 3%;
	/*float: left;*/
	background: rgba(230,240,250,.8);
	overflow: hidden;
}

.thumb:hover {
	background: #aabbbb;
}
.thumb a {
	text-decoration: none;
}

.issue-resource {
	background: #63A599;
	width: 47%;
	float: left;
	padding: .5%;
	margin: 1%;
	color: #000;
}

.issue-nav {
	margin: 1em auto;
	width: 80%;
}

.issue-nav ul {
	padding: 0;
	margin: .5em auto;
}

.issue-nav li {
	list-style: none;
	display: inline-block;
	background: #18657E;
	padding: .5em;
	margin-right: .5em;
	margin-bottom: .4em;
}

.issue-nav li:hover {
	color: #F4F1E3;
	background-color: #1F2F3F;
}

.issue-description {
	width: 80%;
	margin: auto;
	font-size: 1.3em;
}

.issue-resource-list {
	margin: 1% auto;
	width: 80%;
}

.issue-resource-list h2 {
 text-align: center;
}

.issue-resource {
	background: rgba(244,241,227,.9);
	width: 96%;
	padding: 2%;
	margin: 1.5% auto;
	-webkit-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.4);
}

.issue-resource:hover {
	background: rgba(18, 19, 25, 0.80);
	color: #F4F1E3;
}

.check-multiple-categories {
	
	width: 46%;
	margin: 2% 1.5% 2% 0%;
}

.check-multiple-categories-options {
	overflow: auto;
	width: 100%;
	background: #fff;
	border: 2px solid #aaa;
	height: 100px;
	color: rgba(18, 19, 25, 1);
}

.check-multiple-categories label {
	display: inline;
}

.check-multiple-categories label:after { 
	content:"\A"; white-space:pre; 
}

.issue-info {
	color: black;
}

.issue-info:hover {
	color: #F4F1E3;
}
