body{
	max-width: 1200px;
	background-color: rgba(150,180,200,0.2);
	margin: auto;
}

html, button, input, select, textarea,
.nav-main,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
    font-weight: 300
}

.container {
	height: 600px;
}

a {
	text-decoration: none;
	color: black;
}

.bold {
	font-weight: 400;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
	margin: 3px 0px;
}

.center-form {
	width: 40%;
	margin: auto;
	margin-top: 20px;
}