.nav-main {
	background-color: #1F2F3F !important;
	margin: auto;
	font-size: 1.2em;
	line-height: 60px;
	color: #F4F1E3;
	margin-top: .5em;
}

.nav-main a {
	color: #F4F1E3;
}

.nav-main li a:hover {
	color: #1F2F3F !important;
}

.white {
	color: #F4F1E3;
	display: inline;
}

.pure-menu-heading {
	font-weight: 400;
	color: #F4F1E3 !important;
	font-size: 1.1em !important;
}

.new {
	color: #aaddee !important;
	position: relative;
}

.current {
	font-weight: 400;
}