
.date {
	display: inline;
	font-size: .9em;
}

#resource-options {
	display: block;
	overflow: auto;
	width: 800px;
	margin: auto;
	max-width: 100%;
}

#resource-options-left {
	float: left;
	clear: left;
}

#resource-options-right {
	float: right;
	clear: right;
}

#resource-a-z,
#resource-z-a,
#resource-oldest,
#resource-newest {
	display: inline;
}

#resource-list {
	height: 500px;
	overflow: auto;
	width: 800px;
	max-width: 100%;
	margin: auto;
}

.resource-thumb {
	max-width: 100%;
	padding: 0%;
	margin: 1em auto;
	background: rgba(244,241,227,1);
	overflow: hidden;
	color: #000;
}

.resource-info:hover,
.resource-thumb:hover {
	background-color: #18657E;
}

.resource-filter-active a{
	color: #26AEDA;
	font-size: 1.5em;
}

.resource-info {
	padding: 0% 3%;
}

.resource-thumb a {
	text-decoration: none;
}


.resource-body {
	width: 800px;
	max-width: 100%;
	margin: auto;
}

.resource-nav {
	margin: 1em auto;
}

.resource-nav ul {
	padding: 0;
	margin: .5em auto;
}

.resource-nav li {
	list-style: none;
	display: inline-block;
	background: #18657E;
	padding: .5em;
	margin-right: .5em;
	margin-bottom: .4em;
}

.resource-nav li:hover {
	color: #F4F1E3;
	background-color: #1F2F3F;
}

.check-multiple {
	
	width: 46%;
	float: left;
	margin: 2% 1.5%;
}

.check-multiple-options {
	overflow: auto;
	width: 100%;
	background: #fff;
	border: 2px solid #aaa;
	height: 100px;
	color: rgba(18, 19, 25, 1)
}

.check-multiple label {
	display: inline;
}

.check-multiple label:after { 
	content:"\A"; white-space:pre; 
}


