
<h1>Categories</h1>

<div id="category-options">
<div id="category-options-left">
	<div id="category-a-z" class="category-filter-active">A-Z</div> | 
	<div id="category-z-a">Z-A</div>
</div>

<div id="category-options-right">
	<div id="category-newest">newest</div> | 
	<div id="category-oldest">oldest</div>
</div>
</div>

<div id="category-list">
	<%= render partial: 'category_list', locals: { categories: @categories} %>
</div>